body{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Scramblies{
  display:inline-block;
  text-shadow: 1px 2px 2px black;
  font-size: 25px;
  border-radius: 10px;
  padding:15px 0;
  animation: spin 16s infinite linear;
}
.Scramblies:hover{
  animation: unset;
  cursor: default;
}
.form{
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  height: 350px;
  text-align: center;
}
.input_div {
margin: 10px auto;
height: 80px;
}
.input_div input{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 14px;
  background-color: white;
  border: none;
  box-shadow:2px 2px 2px 2px #dceafa;
}
.input_div:nth-child(2){
  margin-bottom: 30px;
}
input:focus{
  outline: none;
  background-color: white;
  box-shadow:2px 2px 2px 2px green;
}
#first_input{
  animation:  slide-left 2s;
}
#second_input{
  animation:  slide-right 2s;
}
button{
  border: none;
  cursor: pointer;
  background-color: unset;
  width: 80%;
  font-size: 18px;
  border-radius: 5px;
  transition: 1s;
  height: 40px;
  background-color: rgba(54, 139, 251, 0.911);
  box-shadow:2px 2px 2px 2px #4a90e2;
  animation:  slide-left 2s;
}
button:hover{
  box-shadow:2px 2px 2px 2px green;
  font-weight: bold;
}
footer, header{
  margin: 10px auto;
  text-align: center;
  justify-content: space-between;
  width:100%;
  height: 50px;
  animation:  slide-right 2s;
}
footer{
  bottom: -100px;
  border-top: 1px solid rgb(219, 217, 217);
  padding: 10px 0;
  height: 100px;
}
.icons{
  font-size:32px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.icons i:first-child{
/* color: green; */
transition: 0.5;
}
.icons i:last-child{
color: black;
transition: 0.5;
}
i:hover{
  transform: scale(1.1);
}
.char_limit_error{
  color: red;
  margin:5px;
  font-weight: bold;
  margin-bottom: 5px;
  height: 20px;
  font-size: 12px;
}
.result{
  font-weight: bold;
  font-size: larger;
  height: 60px;
  padding-top: 50px;
}

.errorhandling{
  color: red;
  text-align: justify;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.help{
  background-color: rgba(255, 255, 255, 0.938);
  position: absolute;
  top: 0;
  animation:  slide-top 1s;
  font-size: 20px;
  text-align: justify;
  padding: 40px 20px;
  box-shadow:2px 2px 2px 2px black;
  z-index: 5;
}
.help i{
  color: red;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
  transition: 0.5;
}
.help i:hover{
  transform: scale(1.1);
}
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
  .form{
    width: 350px;
  }
  footer, header{
    font-size: x-large;
  }
  i{
    font-size:52px ;
  }
  .char_limit_error{
    font-size: 20px;
  }
  .input_div input{
    font-size: 22px;
  }
}
  
@keyframes slide-left {
  from {
    margin-right: -400px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes slide-right {
  from {
    margin-left: -400px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slide-top {
  from {
    margin-top: 100vh;
    margin-left: -300px;
  }
  to {
    margin-top: 0;
    margin-left: 0;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}